<%= link_to("Back to My Account", users_path, class: 'back-link') %>

<div class="users delete">
  <h2>Delete User</h2>

  <%= form_for(@task, method: 'delete') do |f| %>
    <% # url: task_path(@task), method: 'delete' %>

    <p>Are you sure you want to permanently delete your account?</p>
    <p><%= @user.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Task") %>
    </div>

  <% end %>
</div>