<h1>Activity History</h1>
<p>All of the activites you have participated in are shown below.</p>
<%= link_to("Go back to landing page", @dashboard_path)%>

<table>
  <tr>
    <th>Activity Name</th>
    <th>Points</th>
    <th>Time</th>
  </tr>
  <% @earn_transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.activity.name %></td>
      <td><%= transaction.points %></td>
      <td><%= transaction.created_at.strftime("%B %e, %Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
