<h1>Users Index page</h1>
<%= link_to("Go back to landing page", admin_dashboard_url)%>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><% @user.name %></td>
      <td><% @user.points %></td>
    </tr>
  </tbody>
</table>

<h1>This page is not in use, since we are specifying 1 user</h1>
