<h1>Users Index page</h1>
<%= link_to("Go back to landing page", admin_dashboard_url)%>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
