<div id="docs">
  <h1>Documentation</h1>

  <p>With the MAES Rewards app, MAES members can complete activities, earn points, and spend them on rewards!</p>

  <h2>Member Help</h2>

  <h3>Points</h3>

  <p>As a member, you have a point balance. Your points increase whenever you do an MAES activity, and they decrease whenever you spend them on a reward.</p>

  <h3>Rewards</h3>

  <p>Rewards are what you can get by participating in MAES activities! Each reward costs a certain number of points. If you have enough points, you can purchase the reward. Purchasing a reward will deduct the cost from your point balance and notify an officer that you purchased that reward. Rewards are listed on the <%= link_to "Rewards page", rewards_path %>.</p>

  <h3>Activities</h3>

  <p>Activities are how you earn points to purchase rewards! Each activity has a certain number of points you will earn from it. However, if you made an extra contribution, an officer can award you more points than the default! Activities are listed on the <%= link_to "Activities page", activities_path %>.</p>
  <h2>Admin Help</h2>
  <p>TODO</p>
</div>