<h2>Log in to MAES App</h2>

<%= button_to admin_google_oauth2_omniauth_authorize_path, class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>
<i class="fab fa-google mobile-text"></i><span class = "mobile-font">&nbsp;Sign in via Google</span>
<% end %>