<h1>MEMBER Page</h1>
<%= link_to "Sign Out", destroy_admin_session_path, class: "primary_link" %>
<%= link_to "View Rewards", memrewards_path_url(@user), class: "primary_link" %>
<%= link_to "My Account", user_path(@user), class: "primary_link"%>
<h1>
    Welcome, <%= @user.name %>!
</h1>
