<h1>MEMBER Page</h1>
<%= link_to "Sign Out", destroy_admin_session_path %>
<%= link_to "View Rewards", memrewards_path_url%>
<%= link_to "My Account", users_path%>
<h1>Welcome to Latinos in Science and Engineering</h1>
