<table>
  <tr>
    <th aria-label="Activity Name">Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th aria-label="Activity Descirption">Description</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
  <tr>
    <th aria-label="Activity Default Points">Default Points</th>
    <td><%= f.number_field(:default_points, step: 1) %></td>
  </tr>
</table>
