<div class="activities delete">
  <h1>Delete Activity</h1>
  <%= link_to('Back to all Activities', activities_path, class: "primary_link") %>
  <br> <br>
  <%= form_for(@activity, method: 'delete') do |f| %>
    <p>Are you sure you want to permanently delete this activity?</p>
    <p><b><%= @activity.name %></b></p>

    <div class="form-buttons">
      <%= f.submit('Delete Activity') %>
    </div>
  <% end %>
</div>
